body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f4e9e3; */
  /* background-color: darkblue; */
}

* {
  font-family: cursive;
}
